{% extends "ebs/common.html" %}
{% load static %}
{% block head_extra %}	
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static 'ebs/css/add-blog.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'ebs/css/bootstrap-datetimepicker.min.css' %}"/>
{{ blogform.media }}
{% endblock %}
{% block content %}
	<div class="container">
        <h3 class="header">Add Blog</h3>
        <form id="createform" method="post" enctype="multipart/form-data" action="{% url 'create_blog' %}">
        	{% csrf_token %}
          	<div class="row">
				<div class="form-group col-md-12">
                    {{blogform.title.errors}}
					<label for="title" class="control-label">*Title</label>
                     {{blogform.title}}
            	</div>
            </div>
			<div class="row">
            	<div class="form-group col-md-12">
					{{blogform.description.errors}}
					<label for="description" class="control-label">*Description</label>
                     {{blogform.description}}
            	</div>
            </div>
            <div class="row">
            	<div class="form-group col-md-12">
					{{blogform.tags.errors}}
					<label for="tags" class="control-label">Tags</label>
                    {{blogform.tags}}
            	</div>
            </div>
			<div class="row">
            	<div class="form-group col-md-6">
					{{blogform.image.errors}}
					<label class="control-label">Attachments</label>
					{{blogfileform.attachments}}
                    {{blogfileform.image1}}
                    {{blogfileform.image2}}
           		</div>
			</div>
			<div class="row">
            	<div class="form-group col-md-3">
					{{blogform.categories.errors}}
					<label for="categories" class="control-label">*Catagories</label>
                    {{blogform.categories}}
            	</div>
			</div>
			<div class="row">
            	<div class="form-group col-md-6">
					{{blogform.comment_state.errors}}
					{{blogform.comment_state}} <label for="comment_state" class="control-label">Block Comments</label>
            	</div>
            </div>
			<div class="row">
            	<div class="form-group col-md-3">
            		<label class="control-label">*Publish on</label>	
					<div id="datetimepicker1">
						{{blogform.published.errors}}
						{{blogform.published}}
					</div>
				</div>
			</div>
			<div class="row">
            	<div class="col-md-12 form-group buttons" >
					<button id="draft" class="btn btn1 " name="button1" value="button1">Save As Draft</button>
                	<button id="save" type="submit" class="btn  btn1" name="button2" value="button2">Save</button>
                	<a href="{% url 'manage_blog'%}" class="btn btn1">Cancel</a>
            	</div>
            </div>
		</form>
    </div>
{% endblock %}
	
{% block extra_js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'ebs/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script type="text/javascript" src="{% static 'ebs/js/create_blog.js' %}"></script>
{% endblock %}
