{% extends "ebs/common.html" %}
{% load static %}
{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'ebs/css/home.css' %}"/>{% endblock %}
{% block content %}
	<!-- BANNER BLOGS POSTS -->
	<section class="banner1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="banner-blog">
						<a href="#"><img class="large" src="{% static 'ebs/img/pro1.jpg' %}"/></a>
						<div class="banner-text">
							<a href="#" class="label label-default">photography</a>
							<h3><a href="#">Celebrity Make-up artist gary cockrill shows you beaty tips</a></h3>
							<span><a href="#"><strong>David Lee</strong></a>-  September 24,    2016</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/por1.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Health</a>
									<h4><a href="#">The workout That Burns More Calories Than Runing</a></h4>
								</div> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/mobile.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Tech</a>
									<h4><a href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h4>
								</div> 
							</div>
						</div>
					</div>
					<!--<div class="banner-2">-->
					<div class="row">
						<div class="col-md-6 ">
							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/post2.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Arts</a>
									<h4><a href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h4>
								</div> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/gile.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Fashion</a>
									<h4><a href="#">Fashion Week Parties: Night 4</a></h4>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>	
	<!--Latest blogs and must read -->
	<section class="top-margin-40">
		<div class="container">
			<div class="row">
				<main class="col-md-8">
					<h4 class="latest-hr">LATEST BLOGS</h4>
					<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/pro1.jpg' %} "/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">PHOTOGRAPHY</a>
									<h3><a href="#"> Celebrity Make-up artist gary Cockrill shows you beaty tips</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>-   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>		
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/books.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">HEALTH</a>
									<h3><a href="#">Summer Sports That Torch Serious Calories</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>-   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/por1.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">Health</a>
									<h3><a href="#">The workout That Burns More Calories Than Running</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>-   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/mobile.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">TECH</a>
									<h3><a href="#"> Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>   -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>		
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/army.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">army</a>
									<h3><a href="#">Georgian soldier helped in attack near US base in Afghanistan</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>   -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/post2.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">Arts</a>
									<h3><a href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/bus.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">Arts</a>
									<h3><a href="#">Making Times Square’s Pedestrian Plazas Work</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a> -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/frame.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">arts</a>
									<h3><a href="#">How the Guggenheim Keeps Its Galleries Immaculate</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/masterpiece.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">arts</a>
									<h3><a href="#"> Joan Young Moderates a Conversation about Singapore</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/camera.jpg' %}"/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">arts</a>
									<h3><a href="#"> Lenovo Introduces Its Best Entertainment Tablets Yet</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
					</div>					
				</main>	
				<aside class="col-md-4">
					<!-- MOST POPULAR -->
					<h4 class="latest-hr">MOST POPULAR</h4>
					 <div class="row">
						<div class="popular-blog">
							<div class="col-md-5 col-xs-5">
								<a href="#"><img class="img-responsive" src="{% static 'ebs/img/mobile.jpg' %}"/>
								</a>
							</div>
							<div class="col-md-7 col-xs-7">
								<h4><a href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h4>
								<a href="#" class="label label-default">TECH</a>
								<span class="popular-author">    -   September 24,   2016</span>
							</div>
						</div>
					</div>	
					<hr>
					<div class="row">
						<div class="popular-blog">
							<div class="col-md-5 col-xs-5">
								<a href="#"><img class="img-responsive" src="{% static 'ebs/img/pro1.jpg' %}"/>
								</a>
							</div>
							<div class="col-md-7 col-xs-7">
								<h4 ><a href="#"> Celebrity Make-up artist gary cockrill shows you beaty tips</a></h4>
								<a href="#"class="label label-default">PHOTOGRAPHY</a>
								<span class="popular-author">   -   September 24,   2016</span>
							</div>
						</div>
					</div>	
					<hr>
					<div class="row">
						<div class="popular-blog">
							<div class="col-md-5 col-xs-5">
								<a href="#"><img class="img-responsive" src="{% static 'ebs/img/por1.jpg' %}"/></a>
							</div>
							<div class="col-md-7 col-xs-7">
								<h4><a href="#">The workout That Burns More Calories Than Running</a></h4>
								<a href="#" class="label label-default">HEALTH</a>
								<span class="popular-author">     -   September 24,    2016</span>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="popular-blog">
							<div class="col-md-5 col-xs-5">
								<a href="#">
									<img class="img-responsive" src="{% static 'ebs/img/gile.jpg' %}"/>
								</a>
							</div>
							<div class="col-md-7 col-xs-7">
								<h4><a href="#">Fashion Week Parties: Night 4</a></h4>
								<a href="#" class="label label-default">FASHION</a>
								<span class="popular-author">    -    September 24,    2016</span>
							</div>
						</div>
					</div>	
					<!-- MUST READ BLOG -->
					<div class="top-margin-30">
						<h4 class="latest-hr">MUST READ</h4>
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
									<h5><a href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h5>
									<a href="#" class="label label-default">TECH</a>
								 	<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
							 		<a href="#" class="pull-right label label-default view-block">0</a>
							 	</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
								<h5><a href="#">Celebrity Make-up artist gary cockrill shows you beaty tips</a></h5>
								<a href="#" class="label label-default">PHOTOGRAPPHY</a>
								<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
									<h5><a href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h5>
									<a href="#" class="label label-default">ARTS</a>
									<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
									<h5><a href="#">Georgian soldier helped in attack near US base in Afghanistan</a></h5>
									<a href="#" class="label label-default">ARMY</a>
									<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right view-block label label-default">0</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Catogories -->
					<div class="top-margin-30">
						<h4 class="latest-hr"><strong>CATAGORIES</strong></h4>
						<ul class="simple-list">
							<li><a href="#" class="hcatagories">Arts</a></li>
							<li><a href="#" class="hcatagories">Fashion</a></li>
							<li><a href="#" class="hcatagories">Gallery</a></li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</section>
{% include "ebs/common-modal.html" %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'ebs/js/registration.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/registration1.js' %}"></script> 
<script type="text/javascript" src="{% static 'ebs/js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/forgotpassword.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/resetpassword.js' %}"></script>
{% endblock %}