<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">	
	<title>Home</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'ebs/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ebs/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'ebs/css/home.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ebs/css/common.css' %}"/>
</head>

<body>
	
	<nav class="header-navbar navbar-default navbar-light">
		
			<div class="collapse navbar-collapse" id="navbar-collapse-2">
				<div class="container">
					<div class="row">
					<div class="col-md-12">
						<ul id ="nav-list" class="nav nav-pills">
						{% if user.is_authenticated %}
							<li id="logged-user">Welcome {{user.username}}</li>
							<li><a href="#">Manage Profile</a></li>
							<li><a href="{% url 'manage_blog' %}">Manage Blogs</a></li>
							<li><a id ="logout " href="{% url 'log_out' %}">Logout</a></li>

						{% endif %}
						{% if not user.is_authenticated %}
							<li><a href="#" data-toggle="modal" data-target="#signinmodal">sign in</a></li>	
							<li><a href="#" data-toggle="modal" data-target="#bannerformmodal">sign up</a></li>
						
							<li><a href="#">contact us</a></li>
						{% endif %}
						<li class="pull-right"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="pull-right"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="pull-right"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>
	
	</nav>
<!-- Second navbar for categories -->
 	<nav class="navbar navbar-default">
      	<div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
         		<button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a href="#"><img class="marginlogo img-responsive" src="{% static 'ebs/img/logo.png' %}"/></a>	
			</div>
    	</div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="navbar-collapse-1">
        	<div class="container">
          	<ul class="nav navbar-nav">
          		<li class="active"><a hef="#">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="#">Blogs </a></li>
				<li><a href="#">FeatureBlogs</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Popular Blogs</a></li>  
			</ul>

			<form id="search-form"  class="navbar-form navbar-right">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
						<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</nav>
<!-- BANNER BLOGS POSTS -->
	<section class="banner1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="banner-blog">
						<a  href="#"><img class="large" src="{% static 'ebs/img/pro1.jpg' %}"/></a>
						<div class="banner-text">
							<a href="#" class="label label-default">photography</a>
							<h3><a href="#">Celebrity Make-up artist gary cockrill shows you beaty tips</a></h3>
							<span><a href="#"><strong>David Lee</strong></a>-  September 24,    2016</span>
						</div>
					</div>
				</div>
				<div  class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/por1.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Health</a>
									<h4><a href="#">The workout That Burns More Calories Than Runing</a></h4>
								</div> 
							</div>
						</div>
						<div class="col-md-6">

							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/mobile.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Tech</a>
									<h4><a href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h4>
								</div> 
							</div>
						</div>
					</div>
					<!--<div class="banner-2">-->
					<div class="row">
						<div class="col-md-6 ">

							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/post2.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Arts</a>
									<h4><a href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h4>
								</div> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="banner-blog">
								<a href="#"><img src="{% static 'ebs/img/gile.jpg' %}"/></a>
								<div class="banner-text">
									<a href="#" class="label label-default">Fashion</a>
									<h4><a href="#">Fashion Week Parties: Night 4</a></h4>
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>	
	<!--Latest blogs and must read -->
	<section class="top-margin-40">
		<div class="container">
			<div class="row">
				<main class="col-md-8">
					<h4 class="latest-hr">LATEST BLOGS</h4>
						<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img  src="{% static 'ebs/img/pro1.jpg' %} "/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">PHOTOGRAPHY</a>
									<h3><a href="#"> Celebrity Make-up artist gary Cockrill shows you beaty tips</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>-   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>		
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img  src="{% static 'ebs/img/books.jpg' %} "/></a>

							<div class="latest-text">
								<a href="#" class="label label-default">HEALTH</a>
								<h3><a href="#">Summer Sports That Torch Serious Calories</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>-   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
							</div>	
						</div>
					</div>
					
					<div class="row" >
						<div class="col-md-6">
							<div class="latest-blog">
							<a href="#"><img  src="{% static 'ebs/img/por1.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">Health</a>
								<h3><a href="#">The workout That Burns More Calories Than Running</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>-   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
							<a href="#"><img src="{% static 'ebs/img/mobile.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">TECH</a>
								<h3><a href="#"> Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>   -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>

							</div>
							</div>
						</div>		
					</div>
					<div class="row" >
						<div class="col-md-6">
								<div class="latest-blog">
							<a href="#"><img  src="{% static 'ebs/img/army.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">army</a>
								<h3><a href="#">Georgian soldier helped in attack near US base in Afghanistan</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>   -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
							<a href="#"><img  src="{% static 'ebs/img/post2.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">Arts</a>
								<h3><a href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h3>
								<span class="latest-author"><strong>David Lee</strong></a>   -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="latest-blog">
							<a href="#"><img src="{% static 'ebs/img/bus.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">Arts</a>
								<h3><a href="#">Making Times Square’s Pedestrian Plazas Work</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>   -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
						</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
							<a href="#"><img  src="{% static 'ebs/img/frame.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">arts</a>
								<h3><a href="#">How the Guggenheim Keeps Its Galleries Immaculate</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
						</div>
						</div>
					</div>
					<div class="row" >
						<div class="col-md-6">
							<div class="latest-blog">
								<a href="#"><img src="{% static 'ebs/img/masterpiece.jpg' %} "/></a>
								<div class="latest-text">
									<a href="#" class="label label-default">arts</a>
									<h3><a href="#"> Joan Young Moderates a Conversation about Singapore</a></h3>
									<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="latest-blog">
							<a href="#"><img  src="{% static 'ebs/img/camera.jpg' %} "/></a>
							<div class="latest-text">
								<a href="#" class="label label-default">arts</a>
								<h3><a href="#"> Lenovo Introduces Its Best Entertainment Tablets Yet</a></h3>
								<span class="latest-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
						</div>
						</div>
					</div>					
				</main>	
				<aside class="col-md-4">
					<!-- MOST POPULAR -->
					<h4 class="latest-hr">MOST POPULAR</h4>
					 <div class="row">
						<div class="popular-blog">
						<div class="col-md-5 col-xs-5">
							<a href="#"><img class="img-responsive" src="{% static 'ebs/img/mobile.jpg' %}"/>
							</a>
					</div>
						<div class="col-md-7 col-xs-7">
							<h4><a  href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h4>
							 
							 <a href="#" class="label label-default">TECH</a>
							<span class="popular-author">    -   September 24,   2016</span>
							</div>
						</div>
					</div>	
					<hr>
					<div class="row">
						<div class="popular-blog">
						<div class="col-md-5 col-xs-5">
							<a href="#"><img class="img-responsive" src="{% static 'ebs/img/pro1.jpg' %}"/>
							</a>
						</div>
						<div class="col-md-7 col-xs-7">
							<h4 ><a  href="#"> Celebrity Make-up artist gary cockrill shows you beaty tips</a></h4>
							
							<a href="#"class="label label-default">PHOTOGRAPHY</a>
							<span class="popular-author">   -   September 24,   2016</span>
						</div>
						</div>
					</div>	
					<hr>
					<div class="row">
						<div class="popular-blog">
						<div class="col-md-5 col-xs-5">
							<a href="#"><img class="img-responsive" src="{% static 'ebs/img/por1.jpg' %}"/></a>
						</div>
						<div class="col-md-7 col-xs-7">
							<h4><a  href="#">The workout That Burns More Calories Than Running</a></h4>
							<a href="#" class="label label-default">HEALTH</a>
							<span class="popular-author">     -   September 24,    2016</span>
						</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="popular-blog">
						<div class="col-md-5 col-xs-5">
							<a href="#">
								<img class="img-responsive" src="{% static 'ebs/img/gile.jpg' %}"/>
							</a>
						</div>
						<div class="col-md-7 col-xs-7">
							<h4><a  href="#">Fashion Week Parties: Night 4</a></h4>
							<a href="#" class="label label-default">FASHION</a>
							<span class="popular-author">    -    September 24,    2016</span>
						</div>
						</div>
					</div>	
				
					<!-- MUST READ BLOG -->
					<div class="top-margin-30">
						<h4 class="latest-hr">MUST READ</h4>
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
								<h5><a  href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h5>
								<a  href="#" class="label label-default">TECH</a>
								 <span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
							 	<a href="#" class="pull-right label label-default view-block">0</a>
							 	
								</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
							<div class="must-blog">
							<h5> <a  href="#">Celebrity Make-up artist gary cockrill shows you beaty tips</a></h5>
							<a href="#" class="label label-default">PHOTOGRAPPHY</a>
							<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
							<a href="#" class="pull-right label label-default view-block">0</a>
							</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
								<h5><a  href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h5>
								<a href="#" class="label label-default">ARTS</a>
								<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
								<h5><a  href="#">Georgian soldier helped in attack near US base in Afghanistan</a></h5>
								<a href="#"  class="label label-default">ARMY</a>
								<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right view-block label label-default">0</a>
								</div>
							</div>
						</div>

					</div>
					<!-- Catogories -->
					<div class="top-margin-30">
						<h4 class="latest-hr"><strong>CATAGORIES</strong></h4>
						<ul class="simple-list">
							<li><a href="#" class="hcatagories">Arts</a></li>
							<li><a href="#" class="hcatagories">Fashion</a></li>
							<li><a href="#" class="hcatagories">Gallery</a></li>
						</ul>
						
					</div>
				</aside>
			</div>
		</div>
	</section>
	<!-- FOOTER -->
	<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<img class="center-block img-responsive" src="{% static 'ebs/img/logo-footer.png' %}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-xs-offset-2 col-xs-8 top-padding">
						<span>Newspaper is your news, entertain, music fashion website. We provide you with the latest breaking news and videos straight from the entertainment industry.</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center footer-padding-2">
						<span>Contact us:<a href="#"> contact@yourside.com</a></span> 
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center footer-padding-2">
						<a href="#"><i class="fa fa-facebook-square fa-2x footer-icon"></i></a>
						<a href="#"><i class="fa fa-twitter-square fa-2x footer-icon"></i></a>
						<a href="#"><i class="fa fa-linkedin-square fa-2x footer-icon"></i></a>
					</div>
				</div>
			</div>
	</footer>
	<div id="footer-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<ul class="footer2-padding">
						<li><a href="#">Contact us</a></li>
						<li><a href="#"> About us</a></li>
						<li><a href="#"> Blog</a></li>
					</ul>
				</div>

				<div class="col-md-6 copyright text-right">
					<span > &COPY; Copyright 2017 - Newspaper WordPress Theme by TagDiv</span>
				</div> 

			</div>
		
		</div>
	</div>	
	<!-- sign in modal -->
	<div id="signinmodal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-color">
				<button class="pull-right btn2" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="text-center">Sign in</h2>
			</div>
			<div id="message">  </div>
			<div class="modal-body">
			<form id="signinform"  method="post" class="form-padding" data-toggle="validator">
				{% csrf_token %}
				<div class="form-group ">
						
						<label class="control-label">Username</label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-user">
								</span>
								</span>
								{{loginform.username}}
							</div>
				
						</div>
					</div>
					<div class="form-group">
						{{loginform.password.errors}}
						<label class="control-label">Password</label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
								</span>
								</span>
								{{loginform.password}}
							</div>
							<div class="help-block with-errors"></div>
						</div>
					</div>
					<div class="form-group">
					<button class="btn btn-block btn-lg btn1">Sign in</button>
					<div class="forgot-modal"><a id="forgotpass" href="#">Forgot Your Password? Get Help</a></div>	
					</div>

			</form>
			</div>
		</div>
	</div>		
</div>
<!-- forgot password modal-->
<div id="forgotpassmodal" class="modal fade" role="dialog">
	<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header modal-color">
						<button class="pull-right btn2" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="text-center">Password Recovery</h2>
					</div>
					<div id="forgotmessage">  </div>
					<div class="modal-body">
					<form id="forgotform"  method='post' class="form-padding">
						{% csrf_token %}	 
						<div class="form-group">
							<label>Email</label>
							<input id="email1" type="email"  class="form-control input-lg"  placeholder="email" required>
						</div>

						<div class="top-margin-30 form-group">
							<button class="btn btn-block btn-lg btn1">Send My Password</button>
							<p class="forgot-modal"> Password Reset Link Will Be Email To You</p>
						</div>   
				
					</form>
					</div>
				</div>
		</div>
</div>
<!-- recover password Modal -->
	<div id="recoverformmodal"  class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-color">
					<button class="pull-right btn2" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2>Reset Password</h2>
				</div>
				<div id="recovermessage"></div>
				<div class="modal-body">
				<form id="recoverform" data-toggle='validator' class="form-padding">
				{% csrf_token %}
				{% if hashsuccess %}
					<input type="hidden" id="hashval" value="{{hash}}">
				{% else %}
					<input type="hidden" id="hashval" value="">
				{% endif %}
				<div class="form-group">
					<label class="control-label">New Password</label>
						<div class="col-sm-12 col-xs-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
								</span>
								</span>
								<input id="password1" name="password" type="password" class="form-control"  data-minlength="8" placeholder="New Password" required>
							</div>
							<div class="help-block with-errors"></div>
					
						</div>
				</div>
				<div class="form-group">
					<label class="control-label">New Password Confirm</label>
						<div class="col-sm-12 col-xs-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
								</span>
								</span>
								<input id="password2" name="confirmpassword" type="password"
					  class="form-control" data-minlength="8" placeholder="New Password confirm" required>
							</div>
							<div class="help-block with-errors"></div>
						</div>						
				</div>
				<div class="form-group">
					<button name="submit" class="btn btn-lg btn-block btn1">Change Password</button>
				</div>   
				
				</form>
				</div>
			</div>
		</div>
	</div>




	<!--signup modal -->
	<div id="bannerformmodal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-color">
					<button class="pull-right btn2" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="text-center">Sign up</h2>
				</div>
			<div id="validator_message"></div>	
			<div class="modal-body">
			<form id="myform" action="javascript:return;" data-toggle="validator" enctype="multipart/form-data" class="form-padding">
				{% csrf_token %}
				<div class="form-group ">
						{{orgform.orgname.errors}}
						<label class="control-label">Company Name</label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-user">
								</span>
								</span>
								{{orgform.orgname}} 
							</div>
						</div>
					</div>
	
					<div class="form-group ">
						{{orgform.orglogo.errors}}
						<label class="control-label">Company Logo</label> 
						<div class="col-sm-12 input-group file-size">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-picture">
								</span>
								</span>
								{{orgform.orglogo}}	
							</div>
				     	</div>
					</div>
	
					<div class="form-group ">
						<label class="control-label">Company Email </label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-envelope">
								</span>
								</span>
								{{userform.email}}
							</div>
						</div>
					</div>

					<div class="help-block with-errors"></div>
					<div class="form-group ">
						<label class="control-label">Username</label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-user">
								</span>
								</span>
								{{userform.username}}
							</div>
				
						</div>
					</div>
						
					<div class="form-group">
						{{userform.password.errors}}
						<label class="control-label">Password</label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
								</span>
								</span>
								{{userform.password}}
							</div>
							<div class="help-block with-errors"></div>
						</div>
					</div>

					<div class="form-group">
						{{userform.password1.errors}}
						<label class="control-label">Confirm Password</label>
						<div class="col-sm-12 input-group">
							<div class="input-group">
								<span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock">
								</span>
								</span>
								{{userform.password1}}
							</div>
						</div>
					</div>
				<br>

					<div class="form-group">
						<button class="btn btn-block btn-lg btn1">Sign up</button>	
					</div>	
			</form>
			</div>
		</div>
		</div>
	</div>

	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="{% static 'ebs/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
<script type="text/javascript" src="{% static 'ebs/js/notify.min.js' %}"></script>
<!--<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>--> 
<script type="text/javascript" src="{% static 'ebs/js/registration.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/registration1.js' %}"></script> 
<script type="text/javascript" src="{% static 'ebs/js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/forgotpassword.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/resetpassword.js' %}"></script>
</body>
</html>
