{% extends "ebs/common.html" %}
{% load static %}
{% block head_extra %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{% static 'ebs/css/home.css' %}"/>{% endblock %}
{% block content %}
	<!-- BANNER BLOGS POSTS -->
	<section class="banner1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="banner-blog">
						<a href="{% url 'detail_blog' id=main_blog.id %}"><img class="large" src="/media_cdn/{{main_image}}"/></a>
						<div class="banner-text">
							<a data-toggle="tooltip" title="category" href="{% url 'detail_blog' id=main_blog.id %}" class="label label-default">{{main_blog.categories}}</a>
							<h3><a href="{% url 'detail_blog' id=main_blog.id %}">{{main_blog.title}}</a></h3>
							<span><a href="{% url 'detail_blog' id=main_blog.id %}"><strong>{{main_blog.organisation}}</strong></a>-  {{main_blog.published}}</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
				{% for blog in banner_data %}
				{% if not forloop.counter|divisibleby:2%}
					<div class="row">
				{% endif %}
						<div class="col-md-6">
							<div class="banner-blog">
								<a href="{% url 'detail_blog' id=blog.banner_id %}"><img src="/media_cdn/{{blog.banner_file}}"/></a>
								<div class="banner-text">
									<a data-toggle="tooltip" title="category" href="{% url 'detail_blog' id=blog.banner_id %}" class="label label-default">{{blog.banner_categories}}</a>
									<h4><a href="{% url 'detail_blog' id=blog.banner_id %}">{{blog.banner_title}}</a></h4>
								</div> 
							</div>
						</div>
				{% if forloop.counter|divisibleby:2%}
					</div>
				{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>			
	</section>	
	<!--Latest blogs and must read -->
	<section class="top-margin-40">
		<div class="container">
			<div class="row">
				<main class="col-md-8">
					<h4 class="separator">LATEST BLOGS</h4>
					{% for latest in latest_data %}
					{% if not forloop.counter|divisibleby:2%}
					<div class="row">
					{% endif %}
						<div class="col-md-6">
							<div class="latest-blog">
								<a class="image-wrap" href="{% url 'detail_blog' id=latest.latest_id %}">
									<img src="/media_cdn/{{latest.latest_file}}">
								</a>
								<div class="latest-text">
									<a data-toggle="tooltip" title="category" href="{% url 'detail_blog' id=latest.latest_id %}" class="label label-default latest-label">{{latest.latest_categories}}</a>
									<h3><a href="{% url 'detail_blog' id=latest.latest_id %}">{{latest.latest_title}}</a></h3>
									<span class="author-text"><a href="{% url 'detail_blog' id=latest.latest_id %}"><strong>{{latest.latest_organisation}}</strong></a>-   {{latest.latest_timestamp}}</span>
									<a href="{% url 'detail_blog' id=latest.latest_id %}" class="pull-right label label-default view-block">0</a>
								</div>
							</div>		
						</div>
					{% if forloop.counter|divisibleby:2%}
					</div>
					{% endif %}
					{% endfor %}
				</main>	
				<aside class="latest-section col-md-4">
					<!-- MOST POPULAR -->
					<h4 class="separator">MOST POPULAR</h4>
					{% for popular in popular_data %}
					 <div class="row">
						<div class="blog-side">
							<div class="col-md-5 col-xs-5">
								<a href="{% url 'detail_blog' id=popular.popular_id %}"><img class="img-responsive" src="/media_cdn/{{popular.popular_file}}"/>
								</a>
							</div>
							<div class="col-md-7 col-xs-7">
								<h4><a href="{% url 'detail_blog' id=popular.popular_id %}">{{ popular.popular_title}}</a></h4>
								<a data-toggle="tooltip" title="category" href="{% url 'detail_blog' id=popular.popular_id %}" class="label label-default">{{popular.popular_categories}}</a>
								<span class="author-text"> - {{popular.popular_timestamp}}</span>
							</div>
						</div>
					</div>	
					<hr>
					{% endfor %}
						
					<!-- MUST READ BLOG -->
					<div class="top-margin-30">
						<h4 class="separator">MUST READ</h4>
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
									<h5><a href="#">Gigabyte GeForce GTX 950 Review: Pricing Is Everything</a></h5>
									<a data-toggle="tooltip" title="category" href="#" class="label label-default">TECH</a>
								 	<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
							 		<a href="#" class="pull-right label label-default view-block">0</a>
							 	</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
								<h5><a href="#">Celebrity Make-up artist gary cockrill shows you beaty tips</a></h5>
								<a data-toggle="tooltip" title="category" href="#" class="label label-default">PHOTOGRAPPHY</a>
								<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
								<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
									<h5><a href="#">A Thomas Hart Benton Mural, Repurposed as a Writing Desk</a></h5>
									<a data-toggle="tooltip" title="category" href="#" class="label label-default">ARTS</a>
									<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right label label-default view-block">0</a>
								</div>
							</div>
						</div>
						<hr class="top-margin-20">
						<div class="row">
							<div class="col-md-12">
								<div class="must-blog">
									<h5><a href="#">Georgian soldier helped in attack near US base in Afghanistan</a></h5>
									<a data-toggle="tooltip" title="category" href="#" class="label label-default">ARMY</a>
									<span class="must-author"><a href="#"><strong>David Lee</strong></a>  -   September 24,   2016</span>
									<a href="#" class="pull-right view-block label label-default">0</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Catogories -->
					<div class="top-margin-30">
						<h4 class="separator"><strong>CATAGORIES</strong></h4>
						<ul class="simple-list">
						{% for category in categories %}
							<li><a href="#" class="hcatagories">{{ category }}</a></li>
						{% endfor %}
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</section>
{% include "ebs/common-modal.html" %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'ebs/js/registration.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/registration1.js' %}"></script> 
<script type="text/javascript" src="{% static 'ebs/js/login.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/forgotpassword.js' %}"></script>
<script type="text/javascript" src="{% static 'ebs/js/resetpassword.js' %}"></script>
<script type="text/javascript">
	$(".latest-section > hr").last().remove();
	$('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock %}