<DOCTYPE html>

<head>

<head>

<body>

	<p> Dear {{user.username}},<br><br>
	We have received your request for re-sending your login credentials.<br>
	To logon to the website, please click on the below mentioned link :<br>
	URL :<a id ="emaillink" href="http://{{HOST}}/?uid={{hash1}}">click here</a><br>
	This change password link will become invalid after 48 hours or first password change using this link, whichever is earlier.<br>
	Please change your password in accordance with the password policy after you login to your account for the first time. For security reasons we suggest you to change the password on regular basis. Request you not to share your login credentials with anybody to ensure the security of data.<br>
	Assuring you the best of services at all times.<br><br>
	Best Regards,<br>
	News Magazine.</p>
</body>