amqp==1.4.8
anyjson==0.3.3
astroid==1.4.6
awscli==1.11.129
billiard==3.3.0.22
boto==2.38.0
boto3==1.4.4
botocore==1.5.92
celery==3.1.19
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.7
Django==1.8.4
django-bootstrap3-datetimepicker-2==2.4.2
django-braces==1.8.1
django-celery==3.1.17
django-ckeditor==5.4.0
django-cors-headers==1.1.0
django-crispy-forms==1.6.1
django-extensions==1.5.7
django-filter==0.11.0
django-js-asset==0.1.1
django-mysql==2.1.0
django-oauth-toolkit==0.9.0
django-push-notifications==1.4.1
django-rest-swagger==0.3.5
django-storages==1.1.8
django-warrant==0.1.0
djangorestframework==3.2.4
docutils==0.13.1
drfdocs==0.0.6
ecdsa==0.13
enum34==1.0.4
envs==1.2.2
funcsigs==1.0.2
future==0.16.0
futures==3.1.1
geopy==1.11.0
gunicorn==19.7.1
html5lib==0.9999999
idna==2.5
Jinja2==2.9.6
jmespath==0.9.3
jwt==0.3.2
Klout==0.1.3
kombu==3.0.30
lazy-object-proxy==1.2.2
Markdown==2.6.2
MarkupSafe==1.0
meld3==1.0.2
mock==2.0.0
mongoengine==0.10.0
MySQL-python==1.2.5
nltk==3.0.5
numpy==1.9.2
oauthlib==1.0.1
opentok==2.5.0
pbr==3.1.1
pdfkit==0.5.0
Pillow==2.9.0
pyasn1==0.3.1
pycrypto==2.6.1
pydot==1.0.2
PyJWT==1.4.0
pylint==1.5.6
pymongo==3.1
pyparsing==1.5.7
PyPDF2==1.26.0
python-dateutil==2.6.1
python-jose==1.3.2
python-openid==2.2.5
python-social-auth==0.2.12
pytz==2015.7
PyYAML==3.11
reportlab==3.3.0
requests==2.7.0
requests-oauthlib==0.5.0
rsa==3.4.2
s3transfer==0.1.10
scikit-learn==0.17
scipy==0.16.1
setproctitle==1.1.10
shortuuid==0.4.2
six==1.9.0
srp==1.0.7
terminaltables==3.1.0
urllib3==1.21.1
validate-email==1.3
warrant==0.2.0
wrapt==1.10.8
xhtml2pdf==0.0.6
xmltodict==0.10.1
