.help-line{
	display:block;
	color:red;
	padding-top:10px;
}
.header{
	border-bottom:1px solid black;
	padding-bottom:10px;
}
.blog-file{
	margin-top:20px;
}
.form-group{
	margin-top:15px;
}
.buttons{
	text-align:right;
}
@media screen and (max-width:768px){
	.blog-file{
		width:100%;
	}
	.buttons{
	text-align:center;
	}
}
