.help-line{
	display:block;
	color:red;
	padding-top:10px;

}
.catagory{
	width:200px;
	height:30px;
	background-color:white;
}
.header{
	border-bottom:1px solid black;
	padding-bottom:10px;
}
.file-width{
	margin-bottom:20px;
}
.form-group{
	margin-top:30px;
}

@media screen and (max-width:768px){
	.file-width{
		width:100%;
	}
	.catagory{
		width:100%;
	}
	#id_published{
		width:100%;
	}
	#datetimepicker1{
		width:100%;
	}

}



	

