.padding-top{
	margin:50px;
}

@media screen and (min-width:768px){
	.modal-dialog{
		width:500px;
	}

	.modal-sm{
		width:350px;
	}
}

@media screen and (min-width:992px){
	.modal-lg{	
		width:950;
	}
}	


