.banner-blog .large{
	height:420px;
	width:100%;
}
.banner-blog{
	position:relative;
	color:white;
	margin-bottom:25px;
}
.banner-blog img{
	width:100%;
	height:198px;
}
.banner-blog .banner-text{
	position:absolute;
	bottom:0px;
	padding:0px 10px 10px;
}
.banner-blog a:hover{
	color:white;
}
.banner-text h4{
	margin-bottom:0px;
}
.banner-text a{
	color:white;
}
.banner-text span{
	font-size:11px;
}
.latest-blog{
	margin-bottom:30px;
}
.latest-blog .latest-text{
	position:relative;
	height:76px;
}
.latest-blog .latest-text h3{
	margin-top:10px;
	font-size: 21px;
}
.latest-blog .latest-text h3{
  	max-height:46px;
  	overflow:hidden;
}
.latest-blog img{
	width:100% ;
}
.latest-blog .image-wrap {
	height:170px;
	overflow:hidden;
	display: block;
	position:relative;
}
.latest-text >.latest-label{
	position:absolute;
 	top:-30px;
	left:5px;
}
.latest-text .author-text a:hover{
	color:black;
}
.blog-side{
	position:relative;
}
.must-blog{
	position:relative;
}
.must-blog h5{
	font-size:16px;
	line-height:24px;
	font-weight: 600;
	margin-top:0px;
}
.must-blog .must-author{
	font-size:11px;
	line-height: 1px;
	margin-left:5px;
}
.must-blog .must-author a:hover{
	color:black;
}
a:hover{
	color:#009688;
	text-decoration: none;
}
.latest-text .view-block:hover {
	background-color:black;
}
.must-blog .view-block:hover{
	background-color:black;
}
ul li a{
	color:black;
}
#logged-user
{
	font-weight: 700; 
	padding-top:10px;
}	
.forgot-modal{
	text-align:center;
	margin-top:10px ;
}
.top-margin-10{
	margin-top:10px;
}
.top-margin-20{
	margin-top:20px;
}
.top-margin-40{
	margin-top:40px;
}
a{
	text-decoration: none;
	color:black;
}
.banner1{
	margin-top:50px;
}
.hcatagories{
	font-size:14px;
	line-height: 30px;
}
.form-padding{
	padding-top:10px;
}
.view-block{
	padding:5px;
}
/* modal css */
.modal-color{
	background-color:black;
	color:white;
	border-bottom: 4px solid #009688;
}
.btn-group-lg > .btn, .btn-lg {
	padding: 10px 16px;
	font-size:18px;
	line-height: 1.33333;
}
.btn1{
	border-radius:0px;
	background-color:black;
	color:white;
}
.btn1:hover{
	background-color:#009688;
}
.btn2{
	border: medium none;
	background-color: black; 
	font-size: 30px; 
	width: auto;  
}
.sendbutton{
	margin-top:30px;
}
ul.simple-list{
	list-style: none;
	padding: 0;
}
@media screen and (max-width:768px){
	.file-size{
		width:100%;
	}
	.latest-blog{
		width:100%;
	}
	.latest-blog img{
		width:100%;
	}
	.latest-text{
		width:100%;
	}
}
@media screen and (min-width:768px){
	.modal-dialog{
		width:400px;
	}
}
