.search-wrapper{
	width: 500px;
	margin:0px auto;
}
#search-bt{
	margin-left:10px;
}
.filter-box{
	margin-left:10px;
}
.blog-image{
	max-width: 180px;
	max-height:150px;
}
.blog-text{
	font-size: 13px;
    color: #777;
    margin-top: 9px;
   	white-space:normal;
}
.table h3{
	font-size:21px;
	line-height:23px;
	font-weight:500;
	margin:0px;
}
.table h3 a{
	color:black;
	text-decoration:none;
}
.table h3 a:hover{
	color:#009688;
}
.btn-ternary:hover{
	background-color: black;
	color:white;
}
.btn-ternary{
	border-radius: 0px;
    background-color: #009688;
    color: white;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table>tfoot > tr > td {
  border-top: none;
}
.results tr[visible='false'],
.no-result{
  display:none;
}
.results tr[visible='true']{
  display:table-row;
}
.table > thead > tr > th{
	padding-bottom:15px;
}
.table>tbody>tr>td{
	padding:15px 8px;
}
.notifyjs-corner{
	transform:translate(-45%, 0);
}
@media screen and (max-width:768px){
	.search-wrapper{
		margin:0px;
	}
	.form-control{
		display:inline;
		width:initial;
	}
}
