body{
	width:100%;
}
@media screen and (min-width:768px){
	.modal-dialog{
		width:400px;
	}

	.modal-sm{
		width:200px;
	}
}
@media screen and (min-width:992px){
	.modal-lg{	
		width:950;
	}
}	
.padding-top{
	margin-top:50px;
}
@media screen and (max-width:500px){
	#input1{
		font-size:12px;
	}
}
@media screen and (min-width:500px){
	#input1{
		font-size:15px;
	}
}
ul.nav a{
color:#fff !important;
}
h1{
	color:#fff !important;
	margin-top:0px;
	padding-top:5px;
	margin-left:30px;
}
.color1{
	height:80px;
	background-color:#9370DB;
}
nav{
	background-color:#9370DB;
}
			
#pass1,#username1{
	color:red;
}

.site-footer{
	background-color:#9370DB;
	color:white;
	margin-top:30px;
	padding-top:20px;
}

.footer-nav{
	text-align:right;
	list-style:none;
}
.footer-nav li{
	display:inline;
	padding:5px;
}
.org1{
	padding-bottom:5px;
}

#success_message{ display: none;}