<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">	
	<title> Admin Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'ebs/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ebs/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"/>
	<script src="{% static 'ebs/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
	
	
	
</head>

<body>
	
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1>Forgot Password</h1>
					</div>
					<form class="col-md-12" method='post' action="{% url 'resetpassword'%}">
						{% csrf_token %}	
						<br> <p>Enter the email associated with your account below to reset password</p> 
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control input-lg"  placeholder="email" required>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-lg">continue...</button>
						</div>   
				
					</form>
	
				
					<div class="modal-footer">
						<div class="col-md-12">
						</div>
					</div>
				</div>
				
			</div>
			

	

</body>

</html>
